.popup__close{
    position: absolute;
    right: -35px;
    margin: 0;
    padding: 0;
    top: -40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background:url(../../../images/Close-Icon.svg) no-repeat;
    border: none;
    outline: none;
}
.popup__close:hover{
    opacity: 0.8;
}
@media screen and (max-width:1023px){
.popup__close{
    right: -37px;
    /* bottom: 60px; */
    }
}
@media screen and (max-width:424px){
.popup__close{
    right: -3px;
    width: 30px;
    height: 30px;
    background:url(../../../images/Close-IconSmalScreen.svg) no-repeat;
    }
}