.profile__link {
    margin: 16px 0 0 20px;
    padding: 0;
    height: 24px;
    width: 24px;
    border: none;
    outline: none;
    background:url(../../../images/Edit-Button.svg) no-repeat;
    cursor: pointer;
}
.profile__link:hover{
    opacity: 0.6;
}
@media screen and (max-width:767px){
.profile__link {
    margin: 30px 0 0 10px;
    height: 18px;
    width: 18px;
    background:url(../../../images/Edit-ButtonSmalScreen.svg) no-repeat;
    }
}