.card__interactive {
    display: flex;
    justify-content: space-between;
    padding: 29px 20px 25px 21px;
    border-radius: 0px 0px 10px 10px;
    margin: -3px 0 0 0;
    background-color:#FFFFFF;
}