.popup__input_card-name {
    border: none;
    border-bottom: 1px solid rgba(0, 0,0, 0.2);
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0 0 13px 0;
    outline: none;
}